@model DayDetailsViewModel

<div class="col-6">
	<h5 class="text-center">Тренировки</h5>
	<a asp-action="@ActionConstants.AddTraining" asp-controller="@ControllerConstants.Days" asp-area="" asp-route-id="@Model.Id" class="btn btn-primary mt-3">Добави тренировка</a>
	<table class="table table-striped">
		<thead>
			<tr>
				<th>Име</th>
				<th>Тип</th>
				<th>Действия</th>
			</tr>
		</thead>
		<tbody>
			@foreach (var training in Model.Trainings)
			{
				<tr>
					<td><a asp-action="@ActionConstants.Details" asp-controller="@ControllerConstants.Trainings" asp-area="" asp-route-id="@training.Id">@training.Name</a></td>
					<td>@training.Type</td>
					<td>
						<form asp-action="@ActionConstants.RemoveTraining"
							  asp-controller="@ControllerConstants.Days"
							  asp-area=""
							  method="post"
							  asp-route-trainingId="@training.Id"
							  asp-route-dayId="@Model.Id">
							<input type="submit" value="Премахни" class="btn btn-sm btn-danger" />
						</form>
					</td>
				</tr>
			}
		</tbody>
	</table>
</div>
<div class="col-6">
	<h5 class="text-center">Хранения</h5>
	<a asp-action="@ActionConstants.AddMeal" asp-controller="@ControllerConstants.Days" asp-area="" asp-route-id="@Model.Id" class="btn btn-primary mt-3">Добави хранене</a>
	<table class="table table-striped">
		<thead>
			<tr>
				<th>Име</th>
				<th>Действия</th>
			</tr>
		</thead>
		<tbody>
			@foreach (var meal in Model.Meals)
			{
				<tr>
					<td>
						<a asp-page="@PageConstants.MealsDetails" asp-area="" asp-route-id="@meal.Id">@meal.Name</a>
					</td>
					<td>
						<form asp-action="@ActionConstants.RemoveMeal"
							  asp-controller="@ControllerConstants.Days"
							  asp-area=""
							  method="post"
							  asp-route-dayId="@Model.Id"
							  asp-route-mealId="@meal.Id">
							<input type="submit" value="Премахни" class="btn btn-sm btn-danger" />
						</form>
					</td>
				</tr>
			}
		</tbody>
	</table>
</div>