<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<title>SoftUniClone</title>

	<environment include="Development">
		<link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
		<link rel="stylesheet" href="~/lib/fontawesome/css/all.css" />
		<link rel="stylesheet" href="~/css/site.css" />
	</environment>
	<environment exclude="Development">
		<link rel="stylesheet" href="https://ajax.aspnetcdn.com/ajax/bootstrap/3.3.7/css/bootstrap.min.css"
			  asp-fallback-href="~/lib/bootstrap/dist/css/bootstrap.min.css"
			  asp-fallback-test-class="sr-only" asp-fallback-test-property="position" asp-fallback-test-value="absolute" />
		<link rel="stylesheet" href="~/lib/fontawesome/css/all.min.css" />
		<link rel="stylesheet" href="~/css/site.min.css" asp-append-version="true" />
	</environment>
	<style>
		body {
			background-image: url(/images/health.png);
			background-color: #ddeaee;
			background-repeat: no-repeat;
			background-position: center top;
			background-size: 90%;
		}

		nav {
			background: url(/images/fitness.jpg);
			background-color: black;
			background-repeat: no-repeat;
			background-size: 12%;
			background-position: center;
		}

		.navbar-brand img {
			width: 100px;
		}
	</style>
</head>
<body class="m-0 p-0">
	<nav class="navbar navbar-expand-lg navbar-dark">
		<a asp-area="" asp-controller="Home" asp-action="Index" class="navbar-brand"><img src="~/images/barbell.png"></a>
		<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		</button>

		<div class="collapse navbar-collapse" id="navbarSupportedContent">
			<ul class="navbar-nav mr-auto">
				<li class="nav-item"><a asp-area="" asp-controller="@ControllerConstants.Exercises" asp-action="@ActionConstants.Index" class="nav-link">Упражнения</a></li>
				<li class="nav-item"><a asp-area="" asp-controller="@ControllerConstants.Trainings" asp-action="@ActionConstants.Index" class="nav-link">Тренировки</a></li>
				<li class="nav-item"><a asp-area="" asp-page="@PageConstants.MealsIndex" class="nav-link">Хранения</a></li>
				<li class="nav-item"><a asp-area="" asp-controller="@ControllerConstants.Days" asp-action="@ActionConstants.Index" class="nav-link">Дни</a></li>
				<li class="nav-item"><a asp-area="" asp-controller="@ControllerConstants.Programs" asp-action="@ActionConstants.Index" class="nav-link">Програми</a></li>
				<partial name="_TrainerPartial" />
				<partial name="_AdminPartial" />
			</ul>
			<partial name="_LoginPartial" />
		</div>
	</nav>

	<partial name="_CookieConsentPartial" />

	<div class="container body-content mt-3">

		@RenderBody()
		<hr />
		<footer>
			<p>&copy; 2018 - Health Blog</p>
		</footer>
	</div>

	<environment include="Development">
		<script src="~/lib/jquery/dist/jquery.js"></script>
		<script src="~/lib/bootstrap/dist/js/bootstrap.js"></script>
		<script src="~/js/site.js" asp-append-version="true"></script>
	</environment>
	<environment exclude="Development">
		<script src="https://ajax.aspnetcdn.com/ajax/jquery/jquery-3.3.1.min.js"
				asp-fallback-src="~/lib/jquery/dist/jquery.min.js"
				asp-fallback-test="window.jQuery"
				crossorigin="anonymous"
				integrity="sha384-tsQFqpEReu7ZLhBV2VZlAu7zcOV+rXbYlF2cqB8txI/8aZajjp4Bqd+V6D5IgvKT">
		</script>
		<script src="https://ajax.aspnetcdn.com/ajax/bootstrap/3.3.7/bootstrap.min.js"
				asp-fallback-src="~/lib/bootstrap/dist/js/bootstrap.min.js"
				asp-fallback-test="window.jQuery && window.jQuery.fn && window.jQuery.fn.modal"
				crossorigin="anonymous"
				integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa">
		</script>
		<script src="~/js/site.min.js" asp-append-version="true"></script>
	</environment>

	@RenderSection("Scripts", required: false)
</body>
</html>
