@model TrainingDetailsViewModel

@if (Model.Exercises.Any())
{
	<a asp-action="@ActionConstants.AddExercise" asp-controller="@ControllerConstants.Trainings" asp-area="" asp-route-id="@Model.Id" class="btn btn-primary mt-3">Добави упражнение</a>
	<table class="table table-striped">
		<thead>
			<tr>
				<th>Име</th>
				<th>Мускулна група</th>
				<th>Серии</th>
				<th>Повторения</th>
				<th>Действия</th>
			</tr>
		</thead>
		<tbody>
			@foreach (var exercise in Model.Exercises)
			{
				<tr>
					<td>@exercise.Name</td>
					<td>@exercise.TargetMuscle</td>
					<td>@exercise.SeriesCount</td>
					<td>@exercise.RepetitionCount</td>
					<td>
						<form asp-action="@ActionConstants.DeleteExercise"
							  asp-controller="@ControllerConstants.Trainings"
							  asp-area=""
							  method="post"
							  asp-route-trainingId="@Model.Id"
							  asp-route-exerciseId="@exercise.Id">
							<input type="submit" value="Изтрий" class="btn btn-danger" />
						</form>
					</td>
				</tr>
			}
		</tbody>
	</table>
}
else
{
	<div>Нямаш упражнения към тази тренировка. <a asp-action="@ActionConstants.AddExercise" asp-controller="@ControllerConstants.Trainings" asp-area="" asp-route-id="@Model.Id">Добави първото</a>.</div>
}