@model AddTrainingToDayModel

<div asp-validation-summary="All" class="text-danger"></div>

<div class="input-group mt-4">
	<div class="input-group-prepend">
		<label asp-for="@Model.Id" class="input-group-text"></label>
	</div>
	<select asp-for="@Model.Id" asp-items="@Model.Trainings" class="custom-select"></select>
	<a asp-action="@ActionConstants.Create" asp-controller="@ControllerConstants.Trainings" asp-area="" class="btn btn-primary" asp-route-redirectUrl="@Context.Request.Path">Създай нова</a>
</div>